.text-red{
  color:#B5002E;
}
.text-blue{
  color:#1AD6FD;
}
#l-footer button{
  /*width:150px;*/
}
#l-footer .row{
  margin-bottom: 0px;
  background-color: #F0F4F5;
  border: none;
}
#list-item .callout{
  border: 0.2px #eee solid;
  transition: all 0.5s ease;
}
#list-item .callout:hover{
  box-shadow: 0px 0px 5px 0px #1AD6FD;
}
#list-item .callout .button{
  z-index:9005;
}
.black{
  color: #000;
}
.desciption{
  margin-top: 10px;
  margin-bottom:10px;
}
.categoriyes{
  margin-bottom: 10px;
}
.categoriyes>li{
  margin-right: 30px;
}
